<!-- Para la implementación del Favicon -->
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="author" content="Wink Hosting (www.winkhosting.com)" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="templates/style.css" type="text/css" />
	<title>Museos | SARO 2018</title>

	<link rel="shortcut icon" type="image/x-icon" href="templates/images/favicon.ico">
</head>


<body>
	<div id="page" align="center">
		<div id="content" style="width:800px">
			<div id="logo">
				<div style="margin-top:70px" class="whitetitle">SARO 2018</div>
			</div>
			
			<!---Parte de la cabecera-->
			<div id="topheader">
				<div id="toplinks" class="smallgraytext">	
					{% if not show_record %}	
						{% if user.is_authenticated %}
							 <p class="welcome">Identificador del usuario:  <font style="text-transform: uppercase;">{{user.username | safe}} </font><br/>
							 Fecha de suscripción:  {{user.date_joined | safe}} <br/></p><br/>
							 <a href="/logout"><button class="submit_button">Cerrar sesión</button></a><br>
						{% else %}
							<p class="welcome">Bienvenido!. Por favor, entra o <a href="/register">registrate</a>.</p>
							<form method="POST" action="/login">
		    					<p>
		    					<label>Usuario
		    					<input type="username" class="fields" name='username' />
		   						</label>
		   						<label>Contraseña
		   						<input type="password" class="fields" name='password' />
		   						</label>
		   						<input type="submit" class="submit_button" name="Submit" value="Entrar" />
		   						</p>
		 					 </form>
		 				{% endif %}
		 			{% else %}
		 				<form method="POST" action="/register">
		    				<p>
		    				<label>Registrar el identificador
		    				<input type="username" class="fields" name='username' />
		   					</label>
		   					<label>Registrar el email
		   					<input type="email" class="fields" name='email' />
		   					</label>
		   					<label>Registrar la contraseña
		   					<input type="password" class="fields" name='password' />
		   					</label>
		   					<input type="submit" class="submit_button" name="Submit" value="Registrarse" />
		   					</p>
		 				</form>
		 			{% endif %}
				</div>
			</div>
			
			<!---Parte del menu-->
			<div id="menu">
				<div align="center" class="smallwhitetext" style="padding:9px;">
					{% block menu %}
						<a href="/about">About</a> | <a href="/museos">Todos</a>
					{% endblock %}
				</div>
			</div>

			<!---Parte del submenu, que la tengo para la imagen de debajo del menu-->
			<div id="submenu">
				<div align="right" class="smallgraytext" style="padding:10px;">
				{% block submenu %}
					<form method="POST" action="/">
		 				<input type="checkbox" name="update_BBDD" checked/>
		    			<input type="submit" value=" Actualizar BBDD " />
		  				<br/>
		 			</form>
				{% endblock %}
				</div>
			</div>

			<!---Parte del centro-->
			<div id="contenttext">
				{% block contenttext %}
					<div> <style="padding:10px">
						<span class="titletext">Museos ~ SARO <sup>®<sup></span>
					</style></div>

					<div class="bodytext" style="padding:12px;" align="justify">
						<center><b>Bienvenid@ a la página de museos de la asignatura de Servicios y Aplicaciones en Redes de Ordenadores, correspondiente a la práctica final de 2017/18.</b></center><br/><br/><br/>
						
						{% if full_BBDD %}
							<table border=”0″ cellpadding=”1″ cellspacing="2" align="center" bordercolor="#F39C12">
								<caption>Museos con más comentarios ordenados de forma descendente</caption>
								<tr bgcolor= "#F39C12" >
									<th><center><font face="verdana" color= #FFFFFF size= 2>Nombre</font></center></th>
									<th><center><font face="verdana" color= #FFFFFF size= 2>Dirección</font></center></th>
									<th><center><font face="verdana" color= #FFFFFF size= 2>Enlace</font></center></th>
								<tr>
								{% for commented_museum in commented_museums %}
									{% if commented_museum.num_comments > 0 %}
										<tr align="center">
											<td nowrap><a href='{{commented_museum.URL | safe}}' target="_blank">{{commented_museum.Name | safe}}</a></td>
											{% if commented_museum.Street_Num %}
												<td>{{commented_museum.Street_Type | safe}} {{commented_museum.Street_Name | safe}} 
												{{commented_museum.Street_Num | safe}}</td>
											{% else %}
												<td>{{commented_museum.Street_Type | safe}} {{commented_museum.Street_Name | safe}}</td>
											{% endif %}
											<td nowrap><a href='/museos/{{commented_museum.id | safe}}'>Más información</a></td>
										</tr>
									{% endif %}
								{% endfor %}
							</table>

							{% if museums2show %}
								<br/><br/><b>{{str | safe}}</b><br/><br/>
								{% for museum2show in museums2show %}
									<ul><li><a href='/museos/{{museum2show.id | safe}}'> {{museum2show.Name | safe}}</a></ul>
								{% endfor %}
							{% endif %}
							
							{% if button %}
								<br/><center>{{button | safe}} </center>
							{% endif %}
						{% elif show_record %}
							<center>Te estamos esperando!<br/></center>Es hora de que te registres en la página y disfrutes del todo contenido que tenemos para ti.
						{% else %}
							Sorry... Ahora mismo la BBDD se enceuntra vacía y no tenemos museos para mostrarte. Si lo deseea pulse el botón de arriba y se iniciará la actualización... Que disfrute!<br/><br/><br/>
						{% endif %}
					</div>	

				{% endblock %}
			</div>

			<!---Parte de la izquierda-->
			<div id="leftpanel"> 
				<div align="justify" class="graypanel">
					{% block leftpanel %}
						{% if not show_record %}
							<center><span class="smalltitle"><u>Páginas personales</u></span></center><br/><br/>
							<center><font face="courier new" color= #626567 size=2>{{ personal_pages |safe}}</font></center>
						{% else %}
							<b><font face="courier new" color= #9B59B6 size=2>El museo es un institución donde la sociedad guarda, conserva, expone, muestra los objetos valiosos para la humanidad.</font></b>
						{% endif %}
					{% endblock %}
				</div>
			</div>

			<!---Pie de nota-->
			<div id="footer" class="smallgraytext">
				Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid | <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default" target="_blank">Descripción de los datos</a> | <a href="https://datos.madrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=201132-0-museos&mgmtid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&preview=full" target="_blank">Página con los datos</a>
			</div>
		</div>
	</div>
</body>
</html>