{% extends "index.html" %}


<!-- Menú identificativo de las páginas a excepción de la de inicio. -->
{% block menu %}
	{% if user.is_authenticated %}
		<a href="/">Inicio</a> | <a href="/about">About</a> | <a href="/museos">Todos</a> | <a href="/{{user.username}}">Página personal</a> | 
		<a href="/{{user.username}}/xml" target="_blank">Mi canal XML</a> | <a href="/feeds" target="_blank">Canal RSS</a>
	{% else %}
		<a href="/">Inicio</a> | <a href="/about">About</a> | <a href="/museos">Todos</a> | <a href="/feeds" target="_blank">Canal RSS</a>
	{% endif %}
{% endblock %}


<!-- Para que el formulario de actualizar solo se presente en home -->
{% block submenu %}{% endblock %}


<!-- En la página museos con identificador en el cuadrado de la izquierda, mostrará los comentarios y formulario de añadir en modo 'privado'-->
<!-- Además aparecerá un formulario para añadir el museo a los seleccionados por el usuario registrado -->
{% block leftpanel %}
	<center><span class="smalltitle"><u>Comentarios</u></span></center><br/><br/>
	{% for comment in comments %}
		<center><font face="courier new" color= #626567 size=2>"<i>{{comment.Commentary | safe}}"</i></font></center><br/>
	{% endfor %}
	-------------------------------------------
	<br/><br/>
	<form method="POST" action="/museos/{{museum.id | safe}}/puntuar ">
		<input type="submit" value=" Puntuar " />
	</form>
	<br/><br/>

	{% if user.is_authenticated %}
		<form method="POST" action="/museos/{{museum.id | safe}}/comentar">
	    	<textarea name="comment" rows="10" cols="20" placeholder="Escribe aquí tus comentarios"></textarea>
	    	<input type="submit" value="Enviar" />
	  		<br/>
	 	</form><br/><br/>

	 	{% if show_select %}
		 	<center><span class="smalltitle">¿Deséas añadirlo?</span></center>
		 	<form method="POST" action="/museos/{{museum.id | safe}}/seleccionar ">
		    	<input type="submit" value=" Añadir " />
		  		<br/>
		 	</form><br/>
		{% else %}
			<center><font face="impact" color= "green" size= 4>AÑADIDO</center><br/>
			<center><span class="smalltitle">¿Deséas eliminarlo?</span></center>
		 	<form method="POST" action="/museos/{{museum.id | safe}}/eliminar ">
		    	<input type="submit" value=" Eliminar " />
		  		<br/>
		 	</form><br/>
		{% endif %}
	{% endif %}
{% endblock %}


<!-- En la página museos con identificador en el cuadrado del centro, mostrará la información detallada del museo -->
{% block contenttext %}
<div> <style="padding:10px">
	<span class="titletext">{{museum.Name | safe}}</span>
</style></div>

<div class="bodytext" style="padding:12px;" align="justify">
	{{museum.Description | safe}}<br/><br/>
	<h3><b>Horario</b><br/></h3>
	{{museum.Schedule | safe}}<br/><br/>
	<h3><b>Datos de localización y contacto</b><br/></h3>
	<center><u>Dirección</u> {{museum.Street_Type | safe}} {{museum.Street_Name | safe}} {{museum.Street_Num | safe}} 
	{{museum.Postal_Code| safe}} {{museum.Province| safe}}<br/>
	<u>Barrio/Distrito</u> {{museum.Neighborhood | safe}}  / {{museum.District | safe}}<br/>
	<u>Teléfono</u> {{museum.Phone | safe}} <br/>
	<u>Correo</u> {{museum.Email | safe}} <br/>
	<u>Web</u><a href='{{museum.URL | safe}}' target="_blank">  Portal esmadrid</a> <br/></br>
	</center><br/>
	<!--https://developers.google.com/maps/documentation/javascript/adding-a-google-map?hl=es -->
	<div id="map"></div>
	<script>
		function initMap() {
			var uluru = {lat: {{museum.Latitude | safe}}, lng: {{museum.Length | safe}} };
			var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 18,
			center: uluru
			});
			var marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
		}
    </script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfHnLGhqeJtu2g96yza0sZY2wv7gSahEk&callback=initMap">
	</script><br/>
	
	<h3><b>Cómo llegar</b><br/></h3>
	{{museum.Transport | safe}}<br/><br/>
	<h3><b>Accesibilidad</b><br/></h3>
	{% if museum.Accessibility == 1 %}
		El museo es <b>ACCESIBLE</b>
	{% else %}
		El museo es <b>NO ACCESIBLE</b>
	{% endif %}<br/><br/>
	<center><h3><font color= #F39C12>* El museo cuenta con una puntuación total de {{scored | safe}}</font></h3></center>
</div>
{% endblock %}