{% extends "index.html" %}


{% block menu %}
	<a href="/">Inicio</a> | <a href="/about">About</a> | <a href="/museos">Todos</a>
{% endblock %}


<!-- En la página personal del usuario en el cuadrado de la izquierda, mostrará el formulario de la parte privada-->
{% block leftpanel %}
	<center><span class="smalltitle"><u>Ponlo a tu gusto</u></span></center><br/><br/>
	<form method="POST" action="">
	    <input type="text" name='title' placeholder="Escribe aquí el título" />
	   	<input type="submit" value="Enviar" />
	   	<br/>
	 </form>
{% endblock %}


<!-- En la pagina principal en el cuadrado del centro, mostrará el listado con los museos comentados-->
{% block contenttext %}
<div> <style="padding:10px">
	<span class="titletext">{{title | safe}}</span>
</style></div>

<div class="bodytext" style="padding:12px;" align="justify">
	<strong>Estos son los museos seleccionados por {{name | safe}}:</strong><br/><br/>
	
	<table border=”0″ cellpadding=”1″ cellspacing="2" align="center" bordercolor="#F39C12">
		<tr bgcolor= "#F39C12" >
			<th><center>Nombre</center></th>
			<th><center>Dirección</center></th>
			<th><center>Fecha de la selección</center></th>
			<th><center>Enlace</center></th>
		<tr>
		{% for museum in museums %}
			<tr>
				<td nowrap><a href='{{museum.Museum.URL | safe}}' target="_blank">{{museum.Museum.Name | safe}}</a></td>
				<td>{{museum.Museum.Street_Type | safe}} {{museum.Museum.Street_Name | safe}} {{museum.Museum.Street_Num | safe}}</td>
				<td nowrap>{{museum.Date | safe}}</td>
				<td><a href='/museos/{{museum.Museum.id | safe}}'>Más información</a></td>
			</tr>
		{% endfor %}
	</table>
	
	{% if button %}
		<br/><center>{{button | safe}} </center>
	{% endif %}
</div>	
{% endblock %}