{% extends "index.html" %}


<!-- En la página personal del usuario en el cuadrado de la izquierda, mostrará el formulario de la parte privada-->
{% block leftpanel %}

{% endblock %}


<!-- En la pagina principal en el cuadrado del centro, mostrará el listado con los museos comentados-->
{% block contenttext %}

<div class="bodytext" style="padding:12px;" align="justify">
	<strong>Estos son los museos seleccionados por {{name | safe}}:</strong><br/><br/>
	
	<table border=”0″ cellpadding=”0″ cellspacing=”0″ align="center">
		<tr>
			<th><center>Nombre</center></th>
			<th><center>Dirección</center></th>
			<th><center>Fecha de la selección</center></th>
			<th><center>Enlace</center></th>
		<tr>
		{% for museum in museums %}
			<tr>
				<th><a href='{{museum.Museum.URL | safe}}' target="_blank">{{museum.Museum.Name | safe}}</a></th>
				<td>{{museum.Museum.Street_Type | safe}} {{museum.Museum.Street_Name | safe}} {{museum.Museum.Street_Num | safe}}</td>
				<td>{{museum.Date | safe}}</td>
				<td><a href='//localhost:8000/museos/{{museum.Museum.id | safe}}'>Más información</a></td>
			</tr>
		{% endfor %}
	</table>
	
	{% if button %}
		<br/><center>{{button | safe}} </center>
	{% endif %}
</div>	
{% endblock %}