{% extends "index.html" %}


<!-- Menú identificativo de las páginas a excepción de la de inicio. -->
{% block menu %}
	<a href = "/">Inicio</a> | <a href = "/about">About</a> | <a href = "/museos">Todos</a>
{% endblock %}


<!-- En la página personal del usuario en el cuadrado de la izquierda, mostrará el formulario de la parte privada-->
{% block leftpanel %}
	{% if user.is_authenticated and user == user_page %}	
	<center><span class = "smalltitle"><u>Ponlo a tu gusto</u></span></center><br/><br/>
		<form method = "POST" action = "">
		    <input type = "text" name = 'title' placeholder = "Escribe aquí el título" />
		   	<input type = "submit" value = "Enviar" />
		   	<br/>
		</form><br/><br/><br/>

		<form method = "POST" action = "/templates/style.css">
		{% csrf_token %}
			<select name = "background_color">
				<option value = "#F0F0F0">Predeterminado</option>
				<option value = "red">Rojo</option>
				<option value = "blue">Azul</option>
				<option value = "green">Verde</option>
				<option value = "yellow">Amarillo</option>
				<option value = "pink">Rosa</option>
				<option value = "purple">Morado</option>
				<option value = "black">Negro</option>
				<option value = "grey">Gris</option>
				<option value = "#48D1CC">Turquesa</option>
				<option value = "brown">Marrón</option>
       		</select>
       		<br/>
       		<select name = "font">
 				<option value = "0.7">Predeterminado</option>
				<option value = "0.2">0.2</option>
				<option value = "0.4">0.4</option>
				<option value = "1">1</option>
				<option value = "1.2">1.2</option>
				<option value = "1.5">1.5</option>
				<option value = "1.7">1.7</option>
				<option value = "2">2</option>
			</select><br/>
			<input type="submit" value="Enviar">
		</form>
	{% else %}
		<center><font face="courier new" color= #FFFFFF size=2>Estos son los museos que más me han interesado.</font></center>
	{% endif %}
{% endblock %}


<!-- En la pagina principal en el cuadrado del centro, mostrará el listado con los museos comentados-->
{% block contenttext %}
<div> <style="padding:10px">
	<span class="titletext">{{title | safe}}</span>
</style></div>

<div class="bodytext" style="padding:12px;" align="justify">
	<table border=”0″ cellpadding=”1″ cellspacing="2" align="center" bordercolor="#F39C12">
		<tr bgcolor= "#F39C12" >
			<th><center><font face="verdana" color= #FFFFFF size= 2>Nombre</font></center></th>
			<th><center><font face="verdana" color= #FFFFFF size= 2>Dirección</font></center></th>
			<th><center><font face="verdana" color= #FFFFFF size= 2>Fecha de la selección</font></center></th>
			<th><center><font face="verdana" color= #FFFFFF size= 2>Enlace</font></center></th>
		<tr>
		{% for museum in museums %}
			<tr>
				<td nowrap><a href='{{museum.Museum.URL | safe}}' target="_blank">{{museum.Museum.Name | safe}}</a></td>
				<td>{{museum.Museum.Street_Type | safe}} {{museum.Museum.Street_Name | safe}} {{museum.Museum.Street_Num | safe}}</td>
				<td nowrap>{{museum.Date | safe}}</td>
				<td><a href='/museos/{{museum.Museum.id | safe}}'>Más información</a></td>
			</tr>
		{% endfor %}
	</table>
	
	{% if button %}
		<br/><center>{{button | safe}} </center>
	{% endif %}
</div>	
{% endblock %}